@import '../common/color.scss';

body {
  margin: 0;
  background-color: $black;
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

input {
  margin: 0;
}
