@import '../common/color.scss';

.listWrap {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 16px;
  margin: 0 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
}

.listThumbnailWrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* 1:1 비율 */
}

.listThumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 3px;
}

.listThumbnailHover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 0.4s;

  .playButton {
    cursor: pointer;
    font-size: 30px;
    color: transparent;
    transition-property: color;
    transition-duration: 0.4s;

    &:active {
      transform: scale(0.9);
    }
  }

  .editButton {
    cursor: pointer;
    position: absolute;
    left: 6px;
    bottom: 2px;
    font-size: 18px;
    color: transparent;
    transition-property: color;
    transition-duration: 0.4s;

    &:active {
      transform: scale(0.9);
    }
  }

  .eraseButton {
    cursor: pointer;
    position: absolute;
    right: 6px;
    bottom: 2px;
    font-size: 18px;
    color: transparent;
    transition-property: color;
    transition-duration: 0.4s;

    &:active {
      transform: scale(0.9);
    }
  }
}

.listTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-font;
  margin-top: 8px;
}

.addPlaylistButtonWrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* 1:1 비율 */
}

.addPlaylistButton {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: dashed rgb(85, 85, 85) 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey;
  transition-property: color, border;
  transition-duration: 0.4s, 0.4s;

  &:hover {
    color: $pink;
    border: dashed $pink 1px;
  }

  &:active {
    transform: scale(0.98);
  }
}
