@import '../common/color.scss';

.searchComponent {
  margin: 0 30px 8px 30px;
  display: flex;
  height: 40px;
  background-color: $white;

  input {
    width: 100%;
    outline: none;
    background-color: $white;
    border: 0;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
  }

  .buttonWrap {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: $white;
  }
}

.searchResultListWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 8px;
  overflow: auto;

  .searchResultList {
    display: grid;
    grid-template-columns: 60px 1fr 30px;
    height: 60px;
    color: $white-font;
    margin-bottom: 8px;

    .searchResultListThumbnail {
      background-size: cover;
      background-position: center center;
      border-radius: 3px;
    }

    .searchResultListTitle {
      display: flex;
      align-items: center;
      padding-left: 8px;
      cursor: pointer;

      &:hover {
        color: $grey;
      }

      &:active {
        color: $white-font;
      }
    }

    .searchResultListEllipsis {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      &:hover {
        color: $grey;
      }

      &:active {
        color: $white-font;
      }
    }
  }
}
