@import './common/color.scss';

.screen {
  width: 100vw;
  height: 100vh;
  background-color: $black;
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .screen {
    width: 500px;
  }
}
