@import '../common/color.scss';

.dropdown {
  position: absolute;
  padding: 8px 0;
  background-color: $white;
  color: $black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  .dropdownItem {
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    padding: 6px 18px;
    color: $black;
    &:hover {
      background-color: $pink;
      color: white;
    }
  }
}

$arrow-height: 8px;

.arrowUp {
  position: absolute;
  width: 0;
  height: 0;
  border-left: $arrow-height solid transparent;
  border-right: $arrow-height solid transparent;

  border-bottom: $arrow-height solid $white;
}

.arrowDown {
  position: absolute;
  width: 0;
  height: 0;
  border-left: $arrow-height solid transparent;
  border-right: $arrow-height solid transparent;

  border-top: $arrow-height solid $white;
}

.arrowRight {
  position: absolute;
  width: 0;
  height: 0;
  border-top: $arrow-height solid transparent;
  border-bottom: $arrow-height solid transparent;

  border-left: $arrow-height solid $white;
}

.arrowLeft {
  position: absolute;
  width: 0;
  height: 0;
  border-top: $arrow-height solid transparent;
  border-bottom: $arrow-height solid transparent;

  border-right: $arrow-height solid $white;
}
