@import '../common/color.scss';

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.modalWrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 30px;
  transition-property: top;
  transition-duration: 0.5s;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  transform: scale(0.95);
  transition-property: transform;
  transition-duration: 0.5s;

  .firstLine {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    .title {
      font-weight: 700;
    }

    .xButton {
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .secondLine {
    margin-top: 32px;

    .description {
      line-height: 1.4;
    }

    .modalInputWrap {
      display: flex;
      margin-top: 8px;

      .modalInput {
        width: 100%;
        outline: none;
        height: 30px;
        font-size: 16px;
        border: $grey solid 1px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  .thirdLine {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;

    .button {
      font-size: 16px;
      cursor: pointer;
      border: 0;
      border-radius: 8px;
      padding: 16px;
      outline: none;
      background-color: transparent;
      color: $pink;

      &:active {
        transform: scale(0.9);
      }

      &:last-child {
        background-color: $pink;
        color: $white;
      }
    }
  }

  /* 스크롤 바 */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* 스크롤 바 밑의 배경 */
  ::-webkit-scrollbar-track {
    background: #ebebeb;
  }
  /* 실질적 스크롤 바 */
  ::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
  }
  /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }
  /* 실질적 스크롤 바를 클릭할 때 */
  ::-webkit-scrollbar-thumb:active {
    background: #d3d3d3;
  }
  /* 스크롤 바 상 하단 버튼 */
  ::-webkit-scrollbar-button {
    display: none;
  }
}
