@import '../common/color.scss';
@import './Modal.module.scss';

.playlist {
  height: 100%;
  margin-top: 8px;
  overflow: auto;

  .playlistItem {
    list-style: none;
    display: grid;
    grid-template-columns: 60px 1fr 30px;
    align-items: center;
    height: 60px;
    margin-bottom: 8px;
    border-radius: 3px;

    .thumbnail {
      width: 60px;
      height: 60px;
      border-radius: 3px;
      background-size: cover;
      background-position: center center;
    }

    .title {
      padding-left: 8px;
    }

    .eraseButton {
      cursor: pointer;
      display: flex;
      justify-content: center;
      color: $grey;

      &:active {
        transform: scale(0.9);
      }
    }

    &:hover {
      background-color: whitesmoke;
    }
  }
}